.main-forecast__chart-div {
  display: flex;
  flex-direction: column;
  gap: 25px;
  justify-content: start;
  align-content: center;
  height: 100%;
  width: 100%;
  padding: 25px;
}

.main-forecast__chart-nav {
  display: none;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  gap: 5px;
}

.main-forecast__chart-nav > button {
  color: var(--color-slate200);
  text-transform: capitalize;
  padding: 15px 20px;
  border-radius: 25px;
  background-color: var(--color-penn-blue);
}

.main-forecast__chart-nav > button:hover {
  background-color: var(--color-marian-blue);
}

.main-forecast__message {
  width: 100%;
  text-align: center;
}

.main-forecast__chart {
  display: none !important;
}

/* xs */
/* @media (min-width: 320px) {
  
} */

/* sm */
@media (min-width: 480px) {
  .main-forecast__chart {
    display: block !important;
  }

  .main-forecast__chart-nav {
    display: flex;
  }

  .main-forecast__message {
    display: none;
  }
}

/* md */
/* @media (min-width: 768px) {
} */

/* lg */
/* @media (min-width: 1024px) {
} */

/* xl */
/* @media (min-width: 1200px) {
} */
